/* body{
	margin:0;
	font-family:sans-serif;
} */
.section{
  margin:0;
	font-family:sans-serif;
	width:100%;
	background:#4E94AB;
}
#btn-menu{
	display:none;
}
section label{
	display:none;
	width:35px;
	height: 30px;
	padding:10px;
	border-right:1px solid #fff;
}
section label:hover{
	cursor:pointer;
	background:rgba(0,0,0,0.3);
}

.menu ul{
	margin:0;
	list-style: none;
	padding: 0;
	display : flex;
}
.menu li{
	border-right:1px solid #fff;
	/*flex-grow:1;
	text-alig:center;*/
}
.menu li:hover{
	background:rgba(0,0,0,0.3);
}
.menu li {
	display: block;
	padding: 15px 20px;
	color:#fff;
	text-decoration:none;
}
@media(max-width:720px){
	section label{
		display:block;
	}
	.containerOne{
		height: 550px !important;
	}
	.containerT{
		height: 550px !important;
		width: 80%;
		margin-left: 20% !important;
		margin-top: 20% !important;
	}
	.menu{
		position:absolute;
		background:#4E94AB;
		width:70%;
		margin-left:-80%;
		transition: all 0.5s;
	}
	.menu ul{
		flex-direction:column;
	}
	.menu li{
		border-top:1px solid #fff;
	}
	#btn-menu:checked ~ .menu{
		margin: 0;
		
	}
	.con{
		position: absolute;
		top: 300px !important; 
		left: 30px !important;
	}
	.containerF{
		width: 35% !important;
			margin-top: 3% !important;
	}
	.containerF p{
		text-align: center;
		font-family:sans-serif;
		color: #fff;
	}
	.containerError{
		margin-left: 18% !important;
			margin-top: 10% !important;
			width: 30% !important;
	}
	.errorP p{
		text-align: center;
		font-family:sans-serif;
		color: #fff;
	}
	
}
.containerT{
	height: 500px;
	width: 55%;
	margin-left: 20%;
    margin-top: 3%;
}
.colorLabel{
  color:white;
}
.containerOne{
  border:1px;
  border-radius: 10px;
  background:linear-gradient(to bottom,rgba(191,63,118,1) 0%,rgba(135,70,132,1) 57%,rgba(63,80,150,1) 100%);
  height: 500px;
}
.containerFade{
  border:1px;
  border-radius: 10px;
}
.containerF{
	width: 75%;
	margin-left: 20%;
		margin-top: 3%;
	
}
.containerError{
	margin-left: 11%;
		margin-top: 3%;
		width: 45% !important;
}
.errorP p{
	text-align: center;
	font-family:sans-serif;
	color: #fff;
}
.containerF p{
	text-align: center;
	font-family:sans-serif;
	color: #fff;
}
.con{
	position: absolute;
	top:250px;
	left:170px;
	background: linear-gradient(to bottom,rgb(53, 150, 57) 0%,rgb(114, 101, 113) 57%,rgb(49, 56, 43) 100%);
	border-radius: 50px;
	border:2px solid black;
}
.container{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:2px;
}
.input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.input::placeholder{
 color:wheat;
}
.button{
  margin-top: 15px;
  border: none;
  outline: none;
  height: 40px;
  width: 97%;
  border-radius: 20px;
  background:#AA5585;
  color: #fff;
  font-size: 18px;
}
.button:hover{
  cursor: pointer;
  background: #440027;
  color: white;
}
.center{
	text-align: center;
}
